<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064053163355-eehfkp0gdaab55gl8q61ucif4ac602de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064053163355-eehfkp0gdaab55gl8q61ucif4ac602de</string>
	<key>API_KEY</key>
	<string>AIzaSyCZXJwEuUuV5LI6NgbBJtlTD4TcpcXbthU</string>
	<key>GCM_SENDER_ID</key>
	<string>1064053163355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanavila.HPBookApp</string>
	<key>PROJECT_ID</key>
	<string>hpbookapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hpbookapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064053163355:ios:f822ffec0c88577160867e</string>
</dict>
</plist>